* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.logo {
	height: 30px;
	width: 30px;
}

.nomargin {
	margin-bottom: 0px;
}

form {
	color: white;
}

.maincolor {
	background-color: #e31300;
}

.backgroundimg {
	background-image: url(https://st2.depositphotos.com/3283585/6045/v/950/depositphotos_60459125-stock-illustration-vector-pattern-with-hand-drawn.jpg);
}